.HyperMD-list-line.HyperMD-list-line-1 {
  padding-left: 20px !important;
}

.HyperMD-list-line.HyperMD-list-line-2 {
  padding-left: 50px !important;
}

.HyperMD-list-line.HyperMD-list-line-3 {
  padding-left: 80px !important;
}

.HyperMD-list-line.HyperMD-list-line-4{
  padding-left: 110px !important;
}

.HyperMD-list-line.HyperMD-list-line-5 {
  padding-left: 140px !important;
}

.HyperMD-list-line.HyperMD-list-line-6 {
  padding-left: 170px !important;
}

.HyperMD-list-line.HyperMD-list-line-7 {
  padding-left: 200px !important;
}

.HyperMD-list-line.HyperMD-list-line-8{
  padding-left: 230px !important;
}
